# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
speck-s-oscar/node_modules
speck-s-oscar/.pnp
speck-s-oscar/.pnp.js

# testing
speck-s-oscar/coverage

# production
speck-s-oscar/build

# misc
speck-s-oscar/.DS_Store
speck-s-oscar/.env.local
speck-s-oscar/.env.development.local
speck-s-oscar/.env.test.local
speck-s-oscar/.env.production.local

speck-s-oscar/npm-debug.log*
speck-s-oscar/yarn-debug.log*
speck-s-oscar/yarn-error.log*
